@import url('https://fonts.googleapis.com/css2?family=Positivus&display=swap');

:root {
  /* Colors */
  --color-primary: #B9FF66;
  --color-secondary: #85cc43;
  --color-background: #FFFFFF;
  --color-surface: #F3F3F3;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #FFFFFF;
  --color-border: #B9FF66;
  --color-shadow: rgba(185, 255, 102, 0.3);
  --color-button: #191A23;
  --color-button-hover: #2A2B33;

  /* Spacing & Shadows */
  --spacing-xx-small: 4px;
  --shadow-default: 0 var(--spacing-xx-small) 6px var(--color-shadow);
}

body {
  margin: 0;
  font-family: 'Positivus', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

/* Global Typography */
h1, h2, h3, h4, p {
  font-family: 'Positivus', sans-serif;
  color: var(--color-text-primary);
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; color: var(--color-primary); }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
p  { font-size: 1rem; line-height: 1.5; }

/* Responsive Typography */
@media (max-width: 600px) {
  h1 { font-size: 2.2rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.2rem; }
  p  { font-size: 0.9rem; }
}
